page-list {

    body{
        font-family: 'Segoe UI Semilight', 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, sans-serif;
        color: #761C7F;
      
    }
    ion-card{
        width: 200px;
        height: 500px;
       
        text-align: center;
    }

    h1,p,img{
   
        padding-top: 10%;
    }
}
