page-home {
  #map {
      width: 100%;
      height: 100%;     
    }

  
    .infoWindow{
      h1{

        color : #761C7F;
        font-family: 'Segoe UI Semilight', 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, sans-serif;
      }
      p{
        color:#C44185;
        font-family: 'Lora-Bold';
        font-family: 'Segoe UI Semilight', 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, sans-serif;
      }

    }


  }
     




