<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Funcionalidades</h2>
                <hr class="light">
                <p class="text-faded">¿Crees que tú o una mujer que conoces está siendo víctima de violencia intrafamiliar o sexual? ¿Ha tomado la decisión de denunciar o pedir ayuda, pero no sabe a dónde acudir o qué debe hacer? ¿Quieres saber más sobre violencia política y violencia económica?</p>
                <a href="#" class="btn btn-default btn-xl">Pruebala ahora</a>
            </div>
        </div>
    </div>
</section>

