<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Mujer Segura</h1>
            <hr>
            <p>Mujer Segura es una aplicaci贸n m贸vil que te permite conocer los centros de atenci贸n de tu ciudad, conoce el riesgo por medio del test de vulnerabilidad.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Mas Informaci贸n</a>
        </div>
    </div>
</header>

