<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestros Servicios</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Información</h3>
                    <p class="text-muted">Conoce las definiciones de violencia intrafamiliar, sexual, económica y política y ver algunos ejemplos de cada una de ellas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Centros de Atención</h3>
                    <p class="text-muted">Localiza los centros de atención, ONGs y otras entidades por medio del mapa</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Busca Ayuda</h3>
                    <p class="text-muted">Cuáles son las entidades a las que puede acudir en caso de ser víctima de alguno de estos tipos de violencia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Orientación en linea</h3>
                    <p class="text-muted">Recibe orientación por medio de la linea purpura Whatsapp y LLamada</p>
                </div>
            </div>
        </div>
    </div>
</section>

