 
  <ion-header>
      <ion-navbar color="primary" >
        <button ion-button menuToggle color="light">
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Noticias y Eventos</ion-title>
      </ion-navbar>
    </ion-header> 

    
  <ion-content fullscreen>
      <ion-card inset *ngFor="let user of salida ">
          <ion-item >
              <ion-avatar item-left>
                  <img [src]="user.avatar" />
                </ion-avatar>
            <h2 class="autor">{{user.autor}}</h2>
            <p>{{user.fecha | date : format : timezone}}</p>
           
          </ion-item>
          <h2 class="titulo">{{user.titulo}}</h2>
          <img [src]="user.imagen" /> 
          <ion-card-content>
              <p>{{user.resumen}}</p>
          </ion-card-content>
          <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>{{user.likes}} Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
              </ion-col>
            </ion-row>
          <ion-row>
              <ion-col center text-center>
                  <ion-note>
                      <a [attr.href]="user.sitio_web"
                      [attr.aria-controls]="user.sitio_web"
                      role="tab"
                      data-toggle="tab">
                     {{"Ver Mas"}}
                   </a>
                      <!--<button ion-button icon-left clear small color="secondary" (click)=" window.open(url);">
                          <ion-label>Ver mas</ion-label>
                          <ion-icon name="arrow-round-forward"></ion-icon>
                        </button>-->
                  </ion-note>
                </ion-col>
            </ion-row>

        </ion-card>
      <!-- <ion-card *ngFor="let card of cards">
  
        <ion-item>
          <ion-avatar item-left>
            <img src="https://avatars.io/twitter/nancho35" />
          </ion-avatar>
          <h2>Hernán García</h2>
          <p>Julio 24, 2018</p>
        </ion-item>
  
        <img src="assets/imgs/mujer.jpg" />
  
        <ion-card-content>
            Este 8 de marzo de 2018, millones de mujeres de 178 países del mundo, incluyendo a Colombia, adoptando nuevamente el color violeta como símbolo de resistencia de las mujeres, se unirán para reconocer ...
        </ion-card-content>
  
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
  
      </ion-card> -->
  
  </ion-content>