<!DOCTYPE html>
<html>
  <head>
    <title>Mapa Mujer Segura</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/map-icons.css">
    <script src="js/app.js"></script>
    <style>
	body {
    background: #ffe5fd;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffe5fd', EndColorStr='#ffebfd');
	background: -moz-linear-gradient(top, #ffe5fd, #ffe5fd);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffe5fd), to(#ffe5fd));
	background: -o-linear-gradient(#ffe5fd, #ffe5fd);
	background: linear-gradient(top, #ffe5fd, #ffe5fd);
	width: 100%;
	height: 100%;
}



header#encabezado
{
  padding: 1px;
  color: white;
  background-color: #761C7F;
  text-align:left;
  font-family: 'Segoe UI Semilight', 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, sans-serif;
}
 footer#piedepagina {
    padding: 30px;
    color: white;
    background-color: #761C7F;
	font-family: 'Segoe UI Semilight', 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, sans-serif;
}

div#contenido {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

div.article {
    margin: 5px;
    padding: 60px;
    background-color: #ffe5fd;
}

div#menuprincipal ul {
    padding: 0;
}

.nav li a{
				
				color:#FFFFFF;
				text-decoration:none;
				padding:18px 10px;
				
			}
			
div#menuprincipal a:hover {

background-color: #580052;
}

div#menuprincipal ul li{
    display: inline;
    margin: 5px;
}
.td{
width:230px;
align:center;

}
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  
      #map {
        height: 80%;
        width: 80%
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 1px;
       
      }
     
      #map{
        margin-left: 10%;
        margin-top: 2%;
      	
      }
    </style>
  </head>
  <body>
  
<header id="encabezado">
<div id="menuprincipal">
  <ul class="nav">
<li><img src="imagenes/Logo.png"></li>
    <li><a href="" >Home</a></li>
	
    <li><a href="">Nosotros</a></li>

    <li><a href="">E-Learning</a></li>
	
    <li><a href="">Centros de Atención</a></li>

    <li><a href="">Test de Riesgo</a></li>
	
    <li>Buscar:</li>
    <li> <input type="text" id="cajabusqueda"><li>  

	<li><a onclick="document.getElementById('contenido').innerHTML=Date()">Ingresar</a></li>

    <li><a href="">Registrate</a></li>
  </ul>
  


</header id>

    <h1>Centros de Atención</h1>
    <p>A continuación encontraras los centros de servicios y atención ubicados en la ciudad de Bogotá</p>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5C6AlQYVsgowin55IYx5hZ9YnouOBuJk&callback=initMap"
    async defer></script>

	<footer id="piedepagina">
<table id="tablapiepagina">
  <tr>
<td><p>NOSOTROS<P><br>
Somos una plataforma que mujeres<br>
sufren algun tipo de violencia,<br>
de   tal protección  y seguridad<br>
ante la sociedad.<br>
</td>

<td><p>EN MUJER SEGURA<P><br>
- Preguntas frecuentes<br>
- Politicas de privacidad<br>
- Contactanos<br>
- Terminos y condiciones<br>
</td>
<td><p>DATOS DE CONTACTO<P><br>
Av dorado #69-79
    Torre 2 Piso 16<br>
    Telefonos:(571) 3169001<br>
</td>
  <td>
    <p>Enlaces</p>
    </td>
  </tr>

</table>
</footer>
	
	
	
	
	
  </body>
</html>
