<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>HTML4</title>
<style>
body {
    background: #ffe5fd;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffe5fd', EndColorStr='#ffebfd');
	background: -moz-linear-gradient(top, #ffe5fd, #ffe5fd);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffe5fd), to(#ffe5fd));
	background: -o-linear-gradient(#ffe5fd, #ffe5fd);
	background: linear-gradient(top, #ffe5fd, #ffe5fd);
	width: 100%;
	height: 100%;
}

header#usuarioencabezado
{
    padding: 10px;
    color: white;
    text-align:light;
}


header#encabezado
{
  padding: 1px;
  color: white;
  background-color: #C44185;
  text-align:right;
}
 footer#piedepagina {
    padding: 30px;
    color: white;
    background-color: #C44185;
}

div#contenido {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

div.article {
    margin: 5px;
    padding: 60px;
    background-color: #ffe5fd;
}

div#menuprincipal ul {
    padding: 0;
}

.nav li a{
				
				color:#FFFFFF;
				text-decoration:none;
				padding:18px 20px;
				
			}
			
div#menuprincipal a:hover {

background-color: #580052;
}

div#menuprincipal ul li{
    display: inline;
    margin: 5px;
}
</style>
</head>
<body >
<header id="usuarioencabezado">
<img src="imagenes/Logo.jpg" width=150px align:right>

</header>
<header id="encabezado">
<div id="menuprincipal">
  <ul class="nav">

    <li><a href="" >Home</a></li>
	
    <li><a href="">Nosotros</a></li>

    <li><a href="">E-Learning</a></li>
	
    <li><a href="">Centros de Atención</a></li>

    <li><a href="">Test de Riesgo</a></li>
	
    <li><a href="">Buscar:</a></li>
    <li> <input type="text" id="cajabusqueda"><li>  
	<li> <li>  

	<li><a onclick="document.getElementById('contenido').innerHTML=Date()">Ingresar</a></li>
	<li> <li> 
    <li><a href="">Registrate</a></li>
  </ul>
  


</header>



<article id="contenido">
  <div class="article">
     <h2>Zona de Trabajo</h2>
     <p id="demo">Zona de Contenidos</p>
   </div>

</article>

<footer id="piedepagina">
<table id="tablapiepagina">
  <tr>
<td><p>NOSOTROS<P><td>
<td><p>EN MUJER SEGURA<P><td>
<td><p>DATOS DE CONTACTO<P><td>
  <td><p>DATOS DE CONTACTO<P><td>

  </tr>
<tr>
  <td>
    Somos una plataforma que<br>
    mujeres sufren algun tipo<br>
    de violencia, de   tal<br>
    protección    y seguridad<br>
    ante la sociedad.<br>
  </td>

  <td>
  <li><p>Preguntas frecuentes</p></li>
  <li><p>Politicas de provacidad</p></li>
  <li><p>Contactanos</p></li>
  <li><p>Terminos y condiciones</p></li>
  </td>


  <td>
    <p>Av dorado #69-79</P>
    <p> Torre 2 Piso 16</p>
    <p>Telefonos:(571) 3169001</p>

  <td>
    <td>
    <p>Enlaces</p>
    <td>

  </tr>
</table>
</footer>

</body>
</html>

