<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Test de Vulnerabilidad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card text-wrap *ngFor="let question of filterById; let i= index;">
    <img src="assets/imgs/logo.png" alt="">

    <ion-list radio-group >
      <ion-list-header>
        {{question.question_text}}
      </ion-list-header>
    
      <ion-item>
        <ion-label>{{question.optionA}}</ion-label>
        <ion-radio  value="1" (ionSelect)="mcqAnswer(i,1)"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>{{question.optionB}}</ion-label>
        <ion-radio  value="2" (ionSelect)="mcqAnswer(i,1)"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>{{question.optionC}}</ion-label>
        <ion-radio  value="3" (ionSelect)="mcqAnswer(i,1)"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>{{question.optionD}}</ion-label>
        <ion-radio  value="4" (ionSelect)="mcqAnswer(i,1)"> </ion-radio>
      </ion-item>
    </ion-list>

    <!--<h1>Relación de pareja</h1>
        <ion-list radio-group>
           <ion-item *ngFor="let user of salida ">
               <ion-label>{{ user.respuesta_uno }}</ion-label>
               <ion-radio checked="{{i == 0}}" value="{{user.peso_uno}}" (ionSelect)="radioChecked($event)"></ion-radio>
           </ion-item>
        </ion-list>-->
  </ion-card>

</ion-content>