<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Test de Vulnerabilidad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-card text-wrap *ngFor="let question of filterById; let i= index;">-->
      <ion-card text-wrap *ngFor="let question of filterById">
    <img src="assets/imgs/logo.png" alt="">

    <ion-list radio-group  (ionChange)="mcqAnswer($event)">
      <ion-list-header>
          <h1>Relación de pareja</h1>
      </ion-list-header>
    
      <ion-item>
        <ion-label class="my-label">{{question.optionA}}</ion-label>
        <ion-radio  value={{question.valueA}} ></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label class="my-label">{{question.optionB}}</ion-label>
        <ion-radio  value={{question.valueB}} ></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label class="my-label">{{question.optionC}}</ion-label>
        <ion-radio  value={{question.valueC}} ></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label class="my-label">{{question.optionD}}</ion-label>
        <ion-radio value={{question.valueD}} (ionSelect)="mcqAnswer(i,1)"> </ion-radio>
      </ion-item>
    </ion-list>

    <!--<h1>Relación de pareja</h1>
        <ion-list radio-group>
           <ion-item *ngFor="let user of salida ">
               <ion-label>{{ user.respuesta_uno }}</ion-label>
               <ion-radio checked="{{i == 0}}" value="{{user.peso_uno}}" (ionSelect)="radioChecked($event)"></ion-radio>
           </ion-item>
        </ion-list>-->
  </ion-card>

</ion-content>